body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151B29;
    height: 100vh;
    transition: all 0.25s;
}

button {
    background: none;
    border: 3px solid;
    color: #ffa260;
    padding: 1em 2em;
    font-size: 1em;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0em 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}