body {
    background-color: lightgrey;
}

h1,
h2 {
    color: green
}

button {
    font-size: 20px;
    background-color: burlywood;
}

#guziks {
    background-color: green;
}

span {
    color: darkgreen;
}

.tag {
    background-color: burlywood;
    color: lightgray;
    font-size: 30px;
}

.post a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: black;
}

.post button:hover {
    color: lightgray;
    background-color: green;
}

a:hover {
    text-decoration: line-through;
}

.post button:active {
    color: lightgray;
    background-color: lightgray;
}