div {
    width: 200px;
    height: 200px;
    color: #192a51;
    background-color: #aaa1c8;


}

h1 {
    background-color: white;
}

#one {
    border-width: 4px;
    border-color: black;
    border-style: outset;
    box-sizing: border-box;
}

#two {
    border-width: 5px;
    background-color: #d5c6e0;
    border-style: dotted;
    border-color: #f5e6e8;
    box-sizing: border-box;
    border-radius: 14%;

}

#three {
    border: 4px solid black;
    box-sizing: border-box;
}

button {
    padding: 10px 25px 45px 60px;
    text-align: right;
    align-items: center;
}